* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Georgia, serif;
  background: url("./Images/pexels-baskin-creative-studios-1766838.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  background-position: center;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  height: fit-content;
}

#quote-box {
  background: whitesmoke;
  width: 40rem;
  margin: 10rem auto;
  padding: 3rem;
  border-radius: 5px;
}

#text {
  font-size: 2rem;
  margin-bottom: 1.5rem;
}
#buttons {
  display: flex;
  align-items: center;
  justify-content: center;
}

#button {
  border-radius: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  text-transform: uppercase;
  height: 40px;
  width: 100px;
  opacity: 1;
  background-color: #ffffff;
  border: 1px solid rgba(22, 76, 167, 0.6);
}

#button span {
  color: #164ca7;
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.7px;
}

@media only screen and (max-width: 1000px) {
  body {
    height: 100%;
  }
  #quote-box {
    width: 80%;
    height: 30%;
  }
}
